* {
    margin: 0;
    padding: 0;
}
 
body {
    display: flex;
}

.container {
    display: flex;
    margin: 5% 5%;
    width: 960px;
    height: 960px;
    /* border: red 2px solid; */
    flex-wrap: wrap;
    flex-shrink: 0;
    box-shadow: 0 0 6px 6px gray;
}

.gridElement {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px dashed black; 
    /* height:56px;  */
    /* width: 56px; */
    background-color: white;
}

.gridElement:hover {
    background-color: darkgrey;
} 
 
.leftPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px green solid;
    min-width: 250px;
}

#resButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 4px solid rgb(65, 65, 65);
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
    width: 175px;
    height: 25px;
    margin-top: 4px;
}

#resButton:active {
    background-color: lightgray;
    cursor: pointer;
    user-select: none;
    color: black;
    box-shadow: 0 0 4px 4px gray;
}

.sliderBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 250px;
    border: 2px red solid;
    width: 190px;
    height: 90px;
}
 
#resDisplay {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}