* {
    margin: 0;
    padding: 0;
}
 
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(166, 178, 183);
}

.top {
    font-family: "Micro 5", sans-serif;
    font-size: 82px;
    height: 55px;
    text-align: center;
}

.middle {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    margin: 1% 25% 1% 5%;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    width: 800px;
    height: 800px;    
    box-shadow: 0 0 6px 6px gray;
}

.gridElement {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: 1px dashed black; 
    background-color: white;
    user-select: none;                  /*important to make the divs squares unselectable so the rest of it works*/
}

.gridElement:hover {
    background-color: darkgrey;
}   
 
.leftPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    margin-left: 150px;
    gap: 12px;
}

#resButton, .button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 4px solid rgb(65, 65, 65);
    background-color: rgb(37, 37, 37);
    border-radius: 8px;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
    width: 200px;
    height: 25px;
    margin-top: 4px;
}

#resButton:active, .button:active {
    background-color: lightgray;
    cursor: pointer;
    user-select: none;
    color: black;
    box-shadow: 0 0 4px 4px gray;
}

.sliderBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 6px;
    margin-top: 250px;
    width: 190px;
    height: 90px;
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    height: 15px;
    background: #ccc;
}

input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: darkgray;
    border: 3px solid rgb(65, 65, 65);
  }
 
#resDisplay {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    user-select: none;
}

.bottom {
    background-color: gray;
    flex-direction: column;
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}